*{
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
}
a{
	color: #fff;
	text-decoration: none;
}

.head{
	background-color: #635854 ;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: 4px solid #3596F5;
	color: #fff;
}

.navbar{
	min-width: 1280px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.spisok{
	text-decoration: none;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	text-align: center;
}
.nn{
	margin-left: 40px;
	margin-right: 40px;
}
.phone{
	font-weight: bold;
	font-style: 17px;
	line-height: 20px;
}
.num{
margin-bottom: 4px;
font-style: 14px;
line-height: 16px;
}